<!-- Page Wrapper -->
<div class="flex flex-col h-full w-full bg-gradient-to-br from-blue-300 to-white overflow-x-hidden relative"
     (wheel)="this.userSelectCard(this.selectedCardIndex+1)">

	<!-- Scrolling Card Container -->
	<div class="w-full flex flex-row gap-3 h-full justify-start items-center flex-shrink-0 px-3"
	     [ngStyle]="{ transform: 'translateX(' + this.scrollOffset + 'px)', opacity: getOpacityFromOffset() }"
	     [ngClass]="{'transition-all duration-300': this.pageState == this.DEFAULT_PAGESTATE,
	                 'transition-all duration-[3000ms] ease-in-out pointer-events-none': this.pageState == this.REROLLING_PAGESTATE,
	                 'transition-none duration-0 pointer-events-none': this.pageState == this.PURGING_PAGESTATE}">

		<!-- The cards -->
		<div class="bg-gray-300 h-[500px] sm:h-[600px] w-[250px] sm:w-[302px] rounded-lg duration-300 ease-in-out overflow-hidden outline-2 flex-shrink-0"
		     *ngFor="let card of this.cards; let i = index"
		     [ngClass]="{
             'scale-[110%] z-10 mx-3': this.selectedCardIndex == i,
             'scale-100 z-0 translate-y-0 mx-0': this.selectedCardIndex != i
           }">

			<!-- The template for a real card (with real contents)-->
			<ng-container *ngIf="card.id; else fakeCard">
				<app-place-card [card]="card"></app-place-card>
			</ng-container>

			<!-- The template for a fake card (with fake contents) -->
			<ng-template #fakeCard>
				<div class="h-full w-full flex flex-col">
					<!-- Thumbnail -->
					<div class="flex h-[28.33%] w-[250px] sm:w-[302px] bg-gray-500 flex-shrink-0">
						<i class="fa-solid fa-question text-4xl text-white m-auto"></i>
					</div>

					<!-- Title -->
					<div class="w-full px-3 h-[8%] flex-shrink-0 text-3xl font-extrabold max-w-full truncate mb-1">
						<span>Who knows...?</span>
					</div>

					<!-- Description -->
					<div class="w-full px-3 h-[13%] flex-shrink-0">
						<span class="line-clamp-3">A random roblox place</span>
					</div>

					<!-- Play Button (Behave like a link but open in new tab) -->
					<a class="flex px-3 pt-3 h-[84px] flex-shrink-0 pointer-events-none cursor-not-allowed">
						<button class="flex w-[300px] h-[60px] bg-gray-400 rounded-lg">
							<i class="fa-play fa-solid text-white text-4xl mx-auto my-auto"></i>
						</button>
					</a>

					<!-- Stats -->
					<div class="grid grid-cols-2 gap-1 px-3 pb-3 w-full h-full">


						<!-- First Column -->
						<div class="flex flex-col h-full w-full gap-1 text-md">
							<div class="flex flex-col w-full h-full items-center rounded-lg justify-center bg-gray-100">
								<i class="fa-solid fa-question"></i>
							</div>
							<div class="flex flex-col w-full h-full items-center rounded-lg justify-center bg-gray-100">
								<i class="fa-solid fa-question"></i>
							</div>
							<div class="flex flex-col w-full h-full items-center rounded-lg justify-center bg-gray-100">
								<i class="fa-solid fa-question"></i>
							</div>
						</div>

						<!-- Second Column-->
						<div class="flex flex-col h-full w-full gap-1 text-md">
							<div class="flex flex-col w-full h-full items-center rounded-lg justify-center bg-gray-100">
								<i class="fa-solid fa-question"></i>
							</div>
							<div class="flex flex-col w-full h-full items-center rounded-lg justify-center bg-gray-100">
								<i class="fa-solid fa-question"></i>
							</div>
							<div class="flex flex-col w-full h-full items-center rounded-lg justify-center bg-gray-100">
								<i class="fa-solid fa-question"></i>
							</div>
						</div>
					</div>
				</div>
			</ng-template>
		</div>
	</div>

	<!-- Re-roll Button Container -->
	<button class="absolute flex bottom-3 left-1/2 h-8 w-56 rounded-lg gap-3 bg-green-300 -translate-x-1/2 items-center justify-center transition-opacity duration-500 select-none"
	        (click)="this.reRoll()"
	        [ngClass]="{'opacity-0 pointer-events-none': this.pageState != this.DEFAULT_PAGESTATE, 'opacity-100': this.pageState == this.DEFAULT_PAGESTATE}">
		<i class="fa-solid fa-refresh text-black text-lg"></i>
		<span class="text-black text-lg">Re-roll</span>
	</button>

	<!-- Mobile-friendly card navigation buttons -->
	<div class="absolute flex top-1/2 left-1/2 gap-[250px] transform -translate-x-1/2 -translate-y-1/2 opacity-30 sm:hidden transition duration-500"
	     [ngClass]="{'opacity-0 pointer-events-none': this.pageState != this.DEFAULT_PAGESTATE, 'opacity-30': this.pageState == this.DEFAULT_PAGESTATE}">
		<!-- Navigate to left card -->
		<button class="flex flex-row w-10 aspect-square rounded-full bg-gray-700 items-center justify-center select-none"
		        (click)="this.userSelectCard(this.selectedCardIndex-1)">
			<i class="fa-solid fa-angle-left text-white select-none"></i>
		</button>
		<!-- Navigate to right card -->
		<button class="flex flex-row w-10 aspect-square rounded-full bg-gray-700 items-center justify-center select-none"
		        (click)="this.userSelectCard(this.selectedCardIndex+1)">
			<i class="fa-solid fa-angle-right text-white select-none"></i>
		</button>
	</div>
</div>
