<!-- Page Wrapper -->
<div class="flex flex-col w-full h-full p-5 gap-5 relative overflow-y-auto">

  <!-- Activity Tick -->
  <div class="flex bg-primary text-secondary rounded-lg p-0.5 w-fit px-3 uppercase text-sm font-bold">
    <span>1 Recently Active Members</span>
  </div>

  <!-- Title -->
  <span class="text-5xl font-semibold mb-2 text-primary">
    The gang is here.
  </span>

  <!-- Add Member Button -->
  <button class="flex w-full flex-shrink-0 h-[70px] gap-4 bg-primary rounded-lg items-center justify-center text-white text-2xl font-bold">
    <i class="fa-solid fa-person-circle-plus"></i>
    <span>Add Member</span>
  </button>

  <!-- User Cards -->
  <div class="flex flex-col flex-shrink-0 px-3 py-1.5 w-full h-[160px] rounded-lg bg-white border-primary border">

    <!-- User PFP & Name Row -->
    <div class="flex flex-row gap-3 h-[55%] pb-3 border-b border-border-primary items-center justify-start">
      <!-- User Icon -->
      <div class="flex flex-shrink-0 h-[58px] w-[58px] rounded-md  border-secondary border-2 bg-primary items-center justify-center">
        <span class="text-4xl uppercase text-secondary font-normal">A</span>
      </div>

      <!-- User Name & Title -->
      <div class="flex flex-col w-full h-full items-start justify-center">
        <span class="text-xl font-semibold text-primary">
          Andrew Rudy
        </span>

        <span class="text-sm">
          A sneaky lil guy
        </span>
      </div>
    </div>

    <!-- User Stats Row  -->
    <div class="flex flex-row h-[45%] py-3 items-center justify-between">
      <!-- RSVPs -->
      <div class="flex flex-col items-start justify-between">
        <!-- Title -->
        <span class="text-gray-500 uppercase font-medium">
          RSVPS
        </span>

        <!-- Value -->
        <span class="text-thin">
          0 Events
        </span>
      </div>

      <!-- Last Active -->
      <div class="flex flex-col items-end justify-between">
        <!-- Title -->
        <span class="text-gray-500 uppercase font-medium">
          Last Active
        </span>

        <!-- Value -->
        <span class="text-thin">
          Never
        </span>
      </div>
    </div>
  </div>

  <!-- User Cards -->
  <div class="flex flex-col flex-shrink-0 px-3 py-1.5 w-full h-[160px] rounded-lg bg-white border-primary border">

    <!-- User PFP & Name Row -->
    <div class="flex flex-row gap-3 h-[55%] pb-3 border-b border-border-primary items-center justify-start">
      <!-- User Icon -->
      <div class="flex flex-shrink-0 h-[58px] w-[58px] rounded-md  border-secondary border-2 bg-primary items-center justify-center">
        <span class="text-4xl uppercase text-secondary font-normal">A</span>
      </div>

      <!-- User Name & Title -->
      <div class="flex flex-col w-full h-full items-start justify-center">
        <span class="text-xl font-semibold text-primary">
          Alex Bange
        </span>

        <span class="text-sm">
          Kliks on he's keyboard
        </span>
      </div>
    </div>

    <!-- User Stats Row  -->
    <div class="flex flex-row h-[45%] py-3 items-center justify-between">
      <!-- RSVPs -->
      <div class="flex flex-col items-start justify-between">
        <!-- Title -->
        <span class="text-gray-500 uppercase font-medium">
          RSVPS
        </span>

        <!-- Value -->
        <span class="text-thin">
          0 Events
        </span>
      </div>

      <!-- Last Active -->
      <div class="flex flex-col items-end justify-between">
        <!-- Title -->
        <span class="text-gray-500 uppercase font-medium">
          Last Active
        </span>

        <!-- Value -->
        <span class="text-thin">
          Now
        </span>
      </div>
    </div>
  </div>

  <!-- User Cards -->
  <div class="flex flex-col flex-shrink-0 px-3 py-1.5 w-full h-[160px] rounded-lg bg-white border-primary border">

    <!-- User PFP & Name Row -->
    <div class="flex flex-row gap-3 h-[55%] pb-3 border-b border-border-primary items-center justify-start">
      <!-- User Icon -->
      <div class="flex flex-shrink-0 h-[58px] w-[58px] rounded-md  border-secondary border-2 bg-primary items-center justify-center">
        <span class="text-4xl uppercase text-secondary font-normal">W</span>
      </div>

      <!-- User Name & Title -->
      <div class="flex flex-col w-full h-full items-start justify-center">
        <span class="text-xl font-semibold text-primary">
          Will Cordisco
        </span>

        <span class="text-sm">
          A stick in the mud
        </span>
      </div>
    </div>

    <!-- User Stats Row  -->
    <div class="flex flex-row h-[45%] py-3 items-center justify-between">
      <!-- RSVPs -->
      <div class="flex flex-col items-start justify-between">
        <!-- Title -->
        <span class="text-gray-500 uppercase font-medium">
          RSVPS
        </span>

        <!-- Value -->
        <span class="text-thin">
          0 Events
        </span>
      </div>

      <!-- Last Active -->
      <div class="flex flex-col items-end justify-between">
        <!-- Title -->
        <span class="text-gray-500 uppercase font-medium">
          Last Active
        </span>

        <!-- Value -->
        <span class="text-thin">
          Never
        </span>
      </div>
    </div>
  </div>

  <!-- User Cards -->
  <div class="flex flex-col flex-shrink-0 px-3 py-1.5 w-full h-[160px] rounded-lg bg-white border-primary border">

    <!-- User PFP & Name Row -->
    <div class="flex flex-row gap-3 h-[55%] pb-3 border-b border-border-primary items-center justify-start">
      <!-- User Icon -->
      <div class="flex flex-shrink-0 h-[58px] w-[58px] rounded-md  border-secondary border-2 bg-primary items-center justify-center">
        <span class="text-4xl uppercase text-secondary font-normal">K</span>
      </div>

      <!-- User Name & Title -->
      <div class="flex flex-col w-full h-full items-start justify-center">
        <span class="text-xl font-semibold text-primary">
          Kent Boatman
        </span>

        <span class="text-sm">
          Likes to get married
        </span>
      </div>
    </div>

    <!-- User Stats Row  -->
    <div class="flex flex-row h-[45%] py-3 items-center justify-between">
      <!-- RSVPs -->
      <div class="flex flex-col items-start justify-between">
        <!-- Title -->
        <span class="text-gray-500 uppercase font-medium">
          RSVPS
        </span>

        <!-- Value -->
        <span class="text-thin">
          0 Events
        </span>
      </div>

      <!-- Last Active -->
      <div class="flex flex-col items-end justify-between">
        <!-- Title -->
        <span class="text-gray-500 uppercase font-medium">
          Last Active
        </span>

        <!-- Value -->
        <span class="text-thin">
          Never
        </span>
      </div>
    </div>
  </div>
</div>
