<div class="flex flex-row w-full h-full flex-shrink-0 px-5 py-2 border-t-2 border-border-primary/50
            text-primary items-center justify-between">

  <div *ngFor="let item of navItems"
       class="flex flex-col h-full items-center justify-center cursor-pointer transition-colors duration-200"
       [ngClass]="{'text-gray-400': !isActive(item), 'active-button': isActive(item)}"
       (click)="navigate(item)">
    <i class="fa-solid {{ item.icon }} text-xl"></i>
    <span class="text-xs font-semibold">{{ item.label }}</span>
  </div>

</div>
