<div class="flex flex-row w-full h-full flex-shrink-0 px-5 py-2 border-t-2 border-border-primary/50
            text-primary items-center justify-between">
  <!-- Events -->
  <div class="flex flex-col h-full items-center " [ngClass]="{'text-gray-400': false, 'active-button': true}">
    <i class="fa-solid fa-calendar text-xl"></i>
    <span class="text-xs font-semibold">Events</span>
  </div>

  <!-- Members -->
  <div class="flex flex-col h-full items-center" [ngClass]="{'text-gray-400': true}">
    <i class="fa-solid fa-user-group text-xl"></i>
    <span class="text-xs font-semibold">Members</span>
  </div>

  <!-- Votes -->
  <div class="flex flex-col h-full items-center" [ngClass]="{'text-gray-400': true}">
    <i class="fa-solid fa-check-to-slot text-xl"></i>
    <span class="text-xs font-semibold">Votes</span>
  </div>

  <!-- Profile -->
  <div class="flex flex-col h-full items-center" [ngClass]="{'text-gray-400': true}">
    <i class="fa-solid fa-user-cog text-xl"></i>
    <span class="text-xs font-semibold">Profile</span>
  </div>
</div>
